network:
  version: 2
{% set nics = bridges | map(attribute='nics') | flatten | unique | list %}
{% if nics %}
  ethernets:
{% for n in nics %}
    {{ n }}:
      dhcp4: false
{% endfor %}
{% endif %}
  bridges:
{% for b in bridges %}
    {{ b.name }}:
      interfaces: [{{ b.nics | join(', ') }}]
      dhcp4: false
      link-local: []
      accept-ra: false
      networkmanager:
        passthrough:
          ipv4.method: "disabled"
          ipv6.method: "disabled"
      parameters:
        stp: false
{% endfor %}
