network:
  version: 2
  ethernets:
    {{ usb_nic }}:
      dhcp4: false
  bridges:
{% for b in bridges %}
    {{ b.name }}:
      interfaces: [{{ b.nics | join(', ') }}]
      dhcp4: false
      parameters:
        stp: false
{% endfor %}
